.container {
  height: 92vh;
  flex-direction: column;
}

.box {
  padding: 1em;
  width: 50vw;
  height: 85vh;
  color: #434343;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.2);
}

.box form {
  width: 80%;
}

.box label {
  font-size: 18px;
  margin-bottom: 5px;
}

.box input,
.box textarea {
  width: 100%;
  padding: 4px;
  color: #595958;
  font-size: 1em;
  border: 2px solid #858584;
  border-radius: 8px;
}

.box textarea {
  height: 100px;
  resize: none;
}

.box input[type="checkbox"] {
  width: auto;
}

.genres {
  padding: 12px 0;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.genres div {
  margin: 5px;
}

.box button {
  width: 60%;
  padding: 1em;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #000000;
  background: linear-gradient(to left, #434343, #181717);
}

.box .textError {
  margin: 0;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  color: #ff0000;
}

.box .boxError {
  border: 2px solid #ff0000;
}
