.container {
  height: 85vh;
  flex-direction: column;
}

.container h2 {
  color: #fff;
  letter-spacing: 5px;
}

.box {
  padding: 1em;
  width: 50vw;
  height: 65vh;
  color: #434343;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.2);
}

.box form {
  width: 80%;
}

.box label {
  font-size: 18px;
  margin-bottom: 5px;
}

.box input,
.box textarea {
  width: 100%;
  padding: 8px;
  color: #595958;
  font-size: 16px;
  border: 2px solid #858584;
  border-radius: 8px;
}

.box textarea {
  height: 100px;
  resize: none;
}

.box button {
  width: 60%;
  padding: 1em;
  border: none;
  border-radius: 8px;
  color: #fff;
  background: #000000;
  background: linear-gradient(to left, #434343, #181717);
}
