body {
  margin: 0;
  padding: 0;
  background: #000000;
  background: linear-gradient(to left, #212121, #181717);
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.d-flex {
  justify-content: center;
  display: flex;
}

.link {
  text-decoration: none;
  color: #fff;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}
