body {
  margin: 0;
  padding: 0;
  background: #000000;
  background: linear-gradient(to left, #212121, #181717);
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.text-center {
  text-align: center;
}

.align-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-gray {
  color: rgba(255, 255, 255, 0.75);
}

.d-flex {
  justify-content: center;
  display: flex;
}

.link {
  text-decoration: none;
  color: #fff;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex;
}

.form-group {
  margin-bottom: 0.5em;
}
