.container {
  padding: 1em;
  height: 100vh;

  color: #fff;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.card {
  width: 80vw;
}

.title {
  margin: 0 0 0.5em 0;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.75);
}

.description {
  margin: 0;
  text-align: justify;
  color: rgba(255, 255, 255, 0.75);
}

.body {
  padding: 0 1em;
}
