.filters {
  margin-top: 1em;
  text-align: center;
}

.filters > label {
  margin-left: 10px;
  color: #fff;
  margin-right: 0.5em;
}

.filters > select {
  width: 15%;
  background-color: #0f0d0d;
  color: #fff;
  font-size: 0.9em;
  padding: 5px;
  border-radius: 5px;
}
